<ul class="main-navigation">
  <li><a href="http://valkyriesavage.com/">Home</a></li>
  <li><a href="http://valkyriesavage.com/research.html">Research</a></li>
  <li><a href="http://valkyriesavage.com/projects.html">Other Projects</a></li>
  <li><a href="http://valkyriesavage.com/travel.html">Travel</a></li>
  <li><a href="http://valkyriesavage.com/realworld.html">Job Experience</a></li>
  <li><a href="http://valkyriesavage.com/interwebs.html">On the Interwebs</a></li>
  <li><a href="{{ root_url }}/">Blog</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
</ul>
